{% extends "common/base.html" %}

{% block content %}
<style>

</style>
{% if form.errors %}
<div class="row">
		<div class="alert alert-danger">Your username and password didn't match. Please try again.</div>
</div>
{% endif %}


<div class="row" >
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3 form-container">
		<form class="form-horizontal" role="form" method="post">
			{% csrf_token %}
			<fieldset>
				<h2>Please Sign In</h2>
				<hr class="colorgraph">
				<div class="form-group">
                    <input id="id_username" maxlength="254" name="username" class="form-control input-lg" placeholder="Username...">
				</div>
				<div class="form-group">
                    <input placeholder="Password..." id="id_password" name="password" type="password" class="form-control input-lg" placeholder="Password...">
				</div>
				<hr class="colorgraph">
				<div class="row btns">
					<div class="col-xs-6 col-sm-6 col-md-6">
                        <input type="submit" class="btn btn-lg btn-success btn-block" value="Sign In">
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6">
						<a href="{% url "core:register" %}" class="btn btn-lg btn-primary btn-block">Register</a>
					</div>
				</div>
			</fieldset>
			<input type="hidden" name="next" value="{{ next }}" />
		</form>
	</div>
</div>

{% endblock %}


