{% extends "common/base.html" %}
{% load static %}

{% block title %}Courses Dashboard{% endblock %}

{% block custom_head %}
	<link href="{% static "courses/css/dashboard.css" %}" rel="stylesheet">
	<link href="{% static "common/css/square/blue.css" %}" rel="stylesheet">
	<script src="{% static "common/js/icheck.js" %}"></script>
	<script>
$(document).ready(function(){
  $('input').iCheck({
    checkboxClass: 'icheckbox_square-blue',
    radioClass: 'iradio_square-blue',
    increaseArea: '50%' // optional
  });
});

var assignments_json = '{% autoescape off %}{{ assignments_json }}{% endautoescape %}';
var assignments = JSON.parse(assignments_json);

function assignment_change(status, id)
{
	var url = '{% url "courses:assignment_complete_noargs" %}' + id + '/';
	$('#assignment' + id).addClass('done');
	$('#assignment' + id + ' .schedule-btn').attr('disabled', 'disabled');
	$('#assignment' + id + ' .done-btn').attr('disabled', 'disabled');
	$('#assignment' + id + ' .assignment-btns').fadeOut();


	$.ajax({
		url: url
	}).done(function(data) {
		var bar = $('#week' + data.week + ' .progress .progress-bar');
		$('#week' + data.week + ' .progress').removeClass('progress-hidden');
		$('#week' + data.week + ' .progress').show();
		console.log(bar);
		bar.attr('aria-valuenow', data.percentage);
		bar.css('width', data.percentage + '%');
		if (data.percentage == 100)
		{
			bar.removeClass('progress-bar-warning');
			bar.addClass('progress-bar-success');
			$('#week' + data.week + ' .progress').hide();
			$('#week' + data.week + ' .panel-title .checkbox').html('<i class="fa fa-check-square"></i>');
		}
		else
		{
			bar.removeClass('progress-bar-success');
			bar.addClass('progress-bar-warning');
		}

		update_level_donut();
		done_modal(id, data.points);
	});
}

function done_modal(id, points)
{
	$('#done-modal .modal-title, #done-modal .modal-body, #done-modal .modal-footer').hide()
	$('#done-modal .modal-title').html('Congratulations!');
	$('#done-modal .modal-body').html('<div class="trophy"><i class="fa fa-trophy"></i></div> \
		<div class="trophy-message">Congratulations! You\'ved earned ' + points + ' points.');
	$('#done-modal .modal-title, #done-modal .modal-body').fadeIn();
}

function update_level_donut()
{
		$('canvas#level-chart').fadeOut().remove();
		var new_canvas = $(document.createElement('canvas'));
		new_canvas.attr('width', '60').attr('height', '60').attr('id', 'level-chart');
		$('.canvas-container').prepend(new_canvas);

		$.ajax({
			url: '{% url "courses:level_progress" %}',
		}).done(function(data) {
	    var ctx = document.getElementById("level-chart").getContext("2d");

	    var percentage = data.level_progress;
	    $('.canvas-container .level').html(data.user_level);
	    var data = [
	      {
	        value: percentage,
	        color:"#FFF"
	      },
	      {
	        value : 100-percentage,
	        color : "transparent",
	      },
	    ]
	    options = {
	            segmentShowStroke : true,
	            segmentStrokeColor : "#fff",
	            segmentStrokeWidth : 1,
	            percentageInnerCutout : 75,
	            animation : false,
	            animateRotate : true,
	            animateScale : false,
	            onAnimationComplete : null,
	            labelFontFamily : "Arial",
	            labelFontStyle : "normal",
	            labelFontSize : 24,
	            labelFontColor : "#666"
	        };

	    var donut = new Chart(ctx).Doughnut(data, options);
	});
}
</script>

<style>
.trophy
{
	font-size:100px;
	text-align:center;
	color:gold;
	line-height:20px;
	margin-bottom:20px;
	display:block;
}

.trophy-message
{
	text-align:center;
}
</style>
{% endblock %}

{% block content %}

<div class="row">
	<h1>Courses Dashboard</h1>
</div>

<div class="row">

	<div class="col-md-12 col-sm- assignments">
		<h2>{{ course.title }}</h2>

<div class="panel-group" id="accordion">
		{% for week in weeks %}
		

		  <div class="panel panel-default week" id="week{{ week.num }}">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		      	{% if week.percentage != 100 %}
		      	<div class="progress{% if not week.show_progress_bar %} progress-hidden{% endif %}">
				  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{ week.percentage }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ week.percentage }}%">
				    <span class="sr-only">0% Complete</span>
				  </div>
				  </div>
				  <span class="checkbox"></span>
				  {% else %}
				  <span class="checkbox"><i class="fa fa-check-square"></i></span>
				  {% endif %}
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ week.num }}">
		          {{ course.unit_name|title }} {{ week.num }}{% if week.description %}:<span class="description"> {{ week.description }}</span>{% endif %}
		        </a>

		      </h4>
		    </div>
		    <div id="collapse{{ week.num }}" class="panel-collapse collapse{% if week_in == week.num %} in{% endif %}">
		      <div class="panel-body">
		        <ul>
		        	{% for assignment in week.assignments %}
		        		<li id="assignment{{ assignment.id }}" {% if assignment.done %}class="done"{% endif %}>
		        			
		        			<table class="assignment_table">
		        				<tr>
		        				<td><span class="assignment_title {% if not assignment.required %}optional{% endif %}">{{ assignment.title }}{% if not assignment.required %} (optional){% endif %}</span></td>
		        				<td>{% if not assignment.done %}
		        				<div class="assignment-btns">
		        				<button class="btn btn-primary schedule-btn" {% if assignment.done %}disabled="done"{% endif %}>Schedule</button>
		        				<button class="btn btn-success done-btn" data-assignment="{{ assignment.id }}"  {% if assignment.done %}disabled="done"{% endif %}>Done</button>
		        				</div>
		        				{% endif %}
		        				</td>
		        				</tr>
		        			</table>


		        		</li>
		        	{% endfor %}
		        </ul>
		      </div>
		    </div>
		  </div>

 			{% endfor %}
			</div><!-- /.accordion -->

	</div><!-- /.assignments -->
</div>

<script>
$(function(){
	$('.done-btn').on('click', function(event){
		var id = parseInt($(this).data('assignment'));
		var assignment = assignments[id];
		$('#done-modal *').show()
		$('#done-modal .modal-title').html(assignment.title)
		$('#done-modal .modal-body').html('Are you sure you completed ' + assignment.title + '?');
		$('#done_modal_yes_btn').data('assignment_id', id);
		$('#done-modal').modal('show');
	});

	$('#done_modal_yes_btn').on('click', function(event){
		var id = parseInt($(this).data('assignment_id'));
		assignment_change('complete', id);
	});
});
</script>



<!-- Modal -->
<div class="modal fade" id="done-modal" tabindex="-1" role="dialog" aria-labelledby="done_modal_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="done_modal_label">Done</h4>
      </div>
      <div class="modal-body">
        Body
      </div>
      <div class="modal-footer">
        <button type="button" id="done_modal_close_btn" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        <button type="button" id="done_modal_yes_btn" class="btn btn-primary">Yes!</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}