{% extends "common/base.html" %}
{% load static %}

{% block title %}Courses Dashboard{% endblock %}

{% block custom_head %}
	<link href="{% static "courses/css/dashboard.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
	<h1>Courses Dashboard</h1>
</div>

<div class="row">
	<div class="col-md-2 col-sm-2 my-courses">
		<h3>My Courses</h3>
	</div>

	<div class="col-md-8 col-sm-8 assignments">
		<h2>{{ course.title }}</h2>
	</div>

	<div class="col-md-2 col-sm-2 chat">
		<h3>Chat</h3>
	</div>
</div>

{% endblock %}