{% load static %}
{% load core_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="{% static "common/css/base.css" %}"  />

    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

    <link href="{% static "common/bootstrap/css/bootstrap.css" %}" rel="stylesheet">



    <!-- uncomment for jquery-ui datetime picker widget
    <link type="text/css" href="{% static "common/css/blitzer/jquery-ui-1.10.3.custom.min.css" %}" rel="stylesheet" />
    <script src="{% static "common/js/jquery-ui-1.10.3.custom.min.js" %}" type="text/javascript"></script>
    -->

    <title>{% block title %}SocialLearn{% endblock %}</title>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->



    {% block custom_head %}{% endblock %}
  </head>

  <body>
    <div class="navbar navbar-default navbar-fixed-top" id="header" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'core:home' %}">SocialLearn</a>
        </div>
        <div class="collapse navbar-collapse pull-right">

          <ul class="nav navbar-nav">
            <li><a href="/">Courses</a></li>
            <li><a href="/">Friends</a></li>
            <li class="dropdown {% navactive request 'core:home' %}">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Me <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="{% navactive request 'core:home' %}"><a href="{% url 'core:logout' %}">Logout</a></li>
              </ul>
            </li>


          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div><!-- /.navbar -->

    <div class="container">


      <div class="messages">
      {% for message in messages %}
        <div class="alert alert-warning">{{ message }}</div>
      {% endfor %}
      </div>
      
      {% block content %}{% endblock %}

    </div><!-- /.container -->


     <!-- HeadRoom  -->
    <style type="text/css">
    .headroom {position: fixed;top: 0;left: 0;right: 0;transition: all .2s ease-in-out;}
    .headroom--unpinned {top: -100px;}
    .headroom--pinned {top: 0;}
    </style>

   <script  type="text/javascript"  src="https://rawgithub.com/WickyNilliams/headroom.js/master/dist/headroom.js"></script>

   <script  type="text/javascript"  src="https://rawgithub.com/WickyNilliams/headroom.js/master/src/jQuery.headroom.js"></script>
   
    <script type="text/javascript">
        $(".navbar-fixed-top").headroom();
    </script>   


  </body>
</html>